SparkItUp.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
    <name>SparkItUp</name>
    <snippet>
        <controllerServices>
            <id>ba959226-37c2-3e55-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hwx-schema-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>url</key>
                    <value>
                        <name>url</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>
                        <name>cache-expiration</name>
                    </value>
                </entry>
            </descriptors>
            <name>HWX Schema Registry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>url</key>
                    <value>http://princeton1.field.hortonworks.com:7788/api/v1</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>1 hour</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>05ab6c78-0367-3330-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
            </descriptors>
            <name>HDFS AvroRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>ba959226-37c2-3e55-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                </entry>
                <entry>
                    <key>compression-format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>943469c4-9193-3f3f-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>943469c4-9193-3f3f-b903-bee9b8a95d31</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>948445c2-eaae-3f50-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>948445c2-eaae-3f50-a230-8437647e7a17</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>542.5000513681407</x>
                        <y>973.9999835832377</y>
                    </bends>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>06018cb7-ab81-355d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06018cb7-ab81-355d-8bae-4ab1e6a8ab41</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>85cce1f0-f098-3224-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85cce1f0-f098-3224-8746-f877cb65999d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>97610a6c-f6f4-3ea2-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>97610a6c-f6f4-3ea2-b574-c9ac66d5c307</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>dc1ba3d3-1089-33cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dc1ba3d3-1089-33cc-8270-d379bc494427</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>5e4853d2-3109-36fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5e4853d2-3109-36fd-b9da-903b2d256634</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9bed74b6-7dea-33d7-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>9bed74b6-7dea-33d7-86cc-d03f50bfa224</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>ca4fae02-204c-310d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca4fae02-204c-310d-9c9d-d148dbcc2cf4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>c36a9a6a-66f6-31a5-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>c36a9a6a-66f6-31a5-8962-8a06af60759b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9e5c2152-23b6-35d5-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>9e5c2152-23b6-35d5-a5da-f2d2a298affd</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>8a8cd58a-bffc-3333-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a8cd58a-bffc-3333-87ce-3e5e93e096b6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>dc1ba3d3-1089-33cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dc1ba3d3-1089-33cc-8270-d379bc494427</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b5b7c907-9c62-3f59-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>b5b7c907-9c62-3f59-9a7e-d1050a1336e1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>942.5000513681407</x>
                        <y>973.9999835832377</y>
                    </bends>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>06018cb7-ab81-355d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06018cb7-ab81-355d-8bae-4ab1e6a8ab41</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>85cce1f0-f098-3224-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85cce1f0-f098-3224-8746-f877cb65999d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>caad71a1-755f-3d3c-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>caad71a1-755f-3d3c-b220-e5dcfea005a9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>1d8e9875-e40b-3707-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1d8e9875-e40b-3707-8b9a-ff1b425a0568</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>e8e814a3-c798-382c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e8e814a3-c798-382c-9e8b-49849dad2046</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d5d71fa8-65b0-3026-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>d5d71fa8-65b0-3026-a121-4dd9db931956</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>63453a9a-8edc-3a67-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>63453a9a-8edc-3a67-acbd-8f1299f57270</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>9cac15dd-ad64-379f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9cac15dd-ad64-379f-beee-2fb077666b89</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d9180ade-6a60-3429-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>d9180ade-6a60-3429-8fe7-6d680bdeae3c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>0e7ff698-dd9e-3aa5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0e7ff698-dd9e-3aa5-a639-7ee3b4365876</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>query1</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>ca4fae02-204c-310d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca4fae02-204c-310d-9c9d-d148dbcc2cf4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>de728b7f-93bf-3921-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>de728b7f-93bf-3921-b279-eaf9c957a923</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>f8e8a478-2116-377a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f8e8a478-2116-377a-a7c6-4dfee197681e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>06018cb7-ab81-355d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06018cb7-ab81-355d-8bae-4ab1e6a8ab41</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e26ad1c3-4480-346b-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>e26ad1c3-4480-346b-a18e-70f94c5304c4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>886ab3b0-ef8f-32ec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>886ab3b0-ef8f-32ec-9b81-2b49862cc3ac</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>62db4206-3d66-3510-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>62db4206-3d66-3510-ab05-58a660f6125c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f5987242-0d7f-390b-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>f5987242-0d7f-390b-8f47-7cbb6e301dce</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>0d873055-e693-32f2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0d873055-e693-32f2-942a-f02c16256d3f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>0e7ff698-dd9e-3aa5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0e7ff698-dd9e-3aa5-a639-7ee3b4365876</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fb27c058-6fa9-38e9-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>fb27c058-6fa9-38e9-bdf0-af3d2e375fd6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>ce47c0c1-16c1-3651-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ce47c0c1-16c1-3651-a0db-d34347c1670a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>1d8e9875-e40b-3707-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1d8e9875-e40b-3707-8b9a-ff1b425a0568</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fba4898a-42f4-32b6-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>fba4898a-42f4-32b6-9079-278156764be1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>291d6bc7-fe8a-3684-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>291d6bc7-fe8a-3684-9360-570022e8763b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>8a8cd58a-bffc-3333-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a8cd58a-bffc-3333-87ce-3e5e93e096b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0f1bc15d-566a-3df5-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>0f1bc15d-566a-3df5-a390-1c73d702bc03</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>d3000931-db08-387d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3000931-db08-387d-9769-ec46019254dc</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>63453a9a-8edc-3a67-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>63453a9a-8edc-3a67-acbd-8f1299f57270</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>14eae3de-c150-39e5-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>14eae3de-c150-39e5-be6f-411eb334113b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>6985cc4b-e50c-3dd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6985cc4b-e50c-3dd1-aa87-b11b6b723385</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>isstarting</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>8a8cd58a-bffc-3333-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a8cd58a-bffc-3333-87ce-3e5e93e096b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1905d19d-4e98-32e9-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>1905d19d-4e98-32e9-9cad-ab5bf671d79f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>5e4853d2-3109-36fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5e4853d2-3109-36fd-b9da-903b2d256634</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>ce47c0c1-16c1-3651-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ce47c0c1-16c1-3651-a0db-d34347c1670a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>27ec6132-7f67-35e0-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>27ec6132-7f67-35e0-b243-7f22764285a6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>85cce1f0-f098-3224-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85cce1f0-f098-3224-8746-f877cb65999d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>6a24bd05-aa80-363f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6a24bd05-aa80-363f-bfb9-4099cc992958</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2a6042e2-953b-3bb8-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>2a6042e2-953b-3bb8-be88-48e190f28693</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>36a50f92-f9b9-3bd3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>36a50f92-f9b9-3bd3-b8d1-e3f7b4045453</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>isdead</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>8a8cd58a-bffc-3333-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a8cd58a-bffc-3333-87ce-3e5e93e096b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>46f72ba4-e2f2-3ee5-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>46f72ba4-e2f2-3ee5-b69e-4151cbb42870</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>2aeeeb8f-0b00-33dd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2aeeeb8f-0b00-33dd-b71f-9dc009956db8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>isrunning</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>8a8cd58a-bffc-3333-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a8cd58a-bffc-3333-87ce-3e5e93e096b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>501ef7cc-9bbd-3bd1-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>501ef7cc-9bbd-3bd1-a919-bf4823bda2bc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>9cac15dd-ad64-379f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9cac15dd-ad64-379f-beee-2fb077666b89</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>0d873055-e693-32f2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0d873055-e693-32f2-942a-f02c16256d3f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>615b91b2-b24f-38fe-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>615b91b2-b24f-38fe-8915-eedde249822f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>932.0000256840704</x>
                        <y>814.9999835832377</y>
                    </bends>
                    <bends>
                        <x>932.0000256840704</x>
                        <y>864.9999835832377</y>
                    </bends>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>85cce1f0-f098-3224-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85cce1f0-f098-3224-8746-f877cb65999d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>wait</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>85cce1f0-f098-3224-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85cce1f0-f098-3224-8746-f877cb65999d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6bbe7eda-0e47-311d-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>6bbe7eda-0e47-311d-b6a2-25e7bd7ef8c1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>85cce1f0-f098-3224-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85cce1f0-f098-3224-8746-f877cb65999d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>sparkit</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>ca4fae02-204c-310d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca4fae02-204c-310d-9c9d-d148dbcc2cf4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>72d34354-8ef2-31f2-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>72d34354-8ef2-31f2-ac58-a9956ea1ac8e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>62db4206-3d66-3510-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>62db4206-3d66-3510-ab05-58a660f6125c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>complete</selectedRelationships>
                    <source>
                        <groupId>943469c4-9193-3f3f-0000-000000000000</groupId>
                        <id>8a8cd58a-bffc-3333-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a8cd58a-bffc-3333-87ce-3e5e93e096b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>cdf3ab75-0ef9-3a65-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>cdf3ab75-0ef9-3a65-be65-a8f82ec9d952</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>ba959226-37c2-3e55-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <controllerServices>
                    <id>eec93dd9-07fc-39ba-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>eec93dd9-07fc-39ba-97fa-5e5e03be3102</versionedComponentId>
                    <bundle>
                        <artifact>nifi-livy-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>livy-cs-livy-host</key>
                            <value>
<name>livy-cs-livy-host</name>
                            </value>
                        </entry>
                        <entry>
                            <key>livy-cs-livy-port</key>
                            <value>
<name>livy-cs-livy-port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-pool-size</key>
                            <value>
<name>livy-cs-session-pool-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-kind</key>
                            <value>
<name>livy-cs-session-kind</name>
                            </value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-manager-status-interval</key>
                            <value>
<name>livy-cs-session-manager-status-interval</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>SSL Context Service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Connection Timeout</key>
                            <value>
<name>Connection Timeout</name>
                            </value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-jars</key>
                            <value>
<name>livy-cs-session-jars</name>
                            </value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-files</key>
                            <value>
<name>livy-cs-session-files</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>LivySessionController</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>livy-cs-livy-host</key>
                            <value>princeton0.field.hortonworks.com</value>
                        </entry>
                        <entry>
                            <key>livy-cs-livy-port</key>
                            <value>8999</value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-pool-size</key>
                            <value>2</value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-kind</key>
                            <value>pyspark</value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-manager-status-interval</key>
                            <value>2 sec</value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                        </entry>
                        <entry>
                            <key>Connection Timeout</key>
                            <value>5 secs</value>
                        </entry>
                        <entry>
                            <key>livy-cs-session-jars</key>
                        </entry>
                        <entry>
                            <key>livy-cs-session-files</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.controller.livy.LivySessionController</type>
                </controllerServices>
                <controllerServices>
                    <id>013367ce-28b5-3d67-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <versionedComponentId>013367ce-28b5-3d67-8f73-eeba95c60a67</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HDFS LOCAL AvroRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>ba959226-37c2-3e55-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                </controllerServices>
                <inputPorts>
                    <id>c36a9a6a-66f6-31a5-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-280.9087371826172</x>
                        <y>633.8314819335938</y>
                    </position>
                    <versionedComponentId>c36a9a6a-66f6-31a5-8962-8a06af60759b</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Power Remote Input</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>85cce1f0-f098-3224-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>477.00002568407035</x>
                        <y>774.9999835832377</y>
                    </position>
                    <versionedComponentId>85cce1f0-f098-3224-8746-f877cb65999d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-livy-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>exec-spark-iactive-livy-controller-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.controller.api.livy.LivySessionService</identifiesControllerService>
    <name>exec-spark-iactive-livy-controller-service</name>
</value>
                            </entry>
                            <entry>
<key>exec-spark-iactive-code</key>
<value>
    <name>exec-spark-iactive-code</name>
</value>
                            </entry>
                            <entry>
<key>exec-spark-iactive-charset</key>
<value>
    <name>exec-spark-iactive-charset</name>
</value>
                            </entry>
                            <entry>
<key>exec-spark-iactive-status-check-interval</key>
<value>
    <name>exec-spark-iactive-status-check-interval</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>exec-spark-iactive-livy-controller-service</key>
<value>eec93dd9-07fc-39ba-0000-000000000000</value>
                            </entry>
                            <entry>
<key>exec-spark-iactive-code</key>
<value>shdf = spark.read.json("hdfs://princeton0.field.hortonworks.com:8020/spark2-history");shdf.printSchema();shdf.createOrReplaceTempView("sparklogs");stuffdf = spark.sql("SELECT * FROM sparklogs");stuffdf.count();</value>
                            </entry>
                            <entry>
<key>exec-spark-iactive-charset</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>exec-spark-iactive-status-check-interval</key>
<value>1 sec</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>7200 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ExecuteSparkInteractive</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>wait</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.livy.ExecuteSparkInteractive</type>
                </processors>
                <processors>
                    <id>886ab3b0-ef8f-32ec-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1412.6606903076172</x>
                        <y>2695.7801361083984</y>
                    </position>
                    <versionedComponentId>886ab3b0-ef8f-32ec-9b81-2b49862cc3ac</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf/core-site.xml</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/sparkjobs/status2</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>PutHDFS - Livy Runs</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>8a8cd58a-bffc-3333-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1381.7504653930664</x>
                        <y>2203.5801849365234</y>
                    </position>
                    <versionedComponentId>8a8cd58a-bffc-3333-87ce-3e5e93e096b6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>complete</key>
<value>
    <name>complete</name>
</value>
                            </entry>
                            <entry>
<key>isdead</key>
<value>
    <name>isdead</name>
</value>
                            </entry>
                            <entry>
<key>isrunning</key>
<value>
    <name>isrunning</name>
</value>
                            </entry>
                            <entry>
<key>isstarting</key>
<value>
    <name>isstarting</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>cdf3ab75-0ef9-3a65-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>05ab6c78-0367-3330-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>complete</key>
<value>SELECT * FROM FLOWFILE
WHERE state = 'success'</value>
                            </entry>
                            <entry>
<key>isdead</key>
<value>SELECT * FROM FLOWFILE
WHERE state = 'dead'</value>
                            </entry>
                            <entry>
<key>isrunning</key>
<value>SELECT state, (id * 2) as id, appId, driverLogUrl, sparkUiUrl
FROM FLOWFILE
WHERE state = 'running'</value>
                            </entry>
                            <entry>
<key>isstarting</key>
<value>SELECT * FROM FLOWFILE
WHERE state = 'starting'</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>QueryRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>complete</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isdead</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isrunning</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isstarting</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
                <processors>
                    <id>9cac15dd-ad64-379f-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-333.45011138916016</x>
                        <y>1408.5390625</y>
                    </position>
                    <versionedComponentId>9cac15dd-ad64-379f-beee-2fb077666b89</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Avro</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>25</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Filename</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>ca4fae02-204c-310d-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-334.84032978117466</x>
                        <y>777.281005859375</y>
                    </position>
                    <versionedComponentId>ca4fae02-204c-310d-9c9d-d148dbcc2cf4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>query1</key>
<value>
    <name>query1</name>
</value>
                            </entry>
                            <entry>
<key>sparkit</key>
<value>
    <name>sparkit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>cdf3ab75-0ef9-3a65-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>013367ce-28b5-3d67-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>query1</key>
<value>SELECT * FROM FLOWFILE WHERE CAST(voltage AS FLOAT) &gt; 95</value>
                            </entry>
                            <entry>
<key>sparkit</key>
<value>SELECT * 
FROM FLOWFILE 
WHERE CAST(voltage AS FLOAT) &gt; 150.0
LIMIT 1
</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>QueryRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query1</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sparkit</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
                <processors>
                    <id>ce47c0c1-16c1-3651-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1377.2144241333008</x>
                        <y>1614.2242279052734</y>
                    </position>
                    <versionedComponentId>ce47c0c1-16c1-3651-a0db-d34347c1670a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.sessions</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>d3000931-db08-387d-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-322.5542490879043</x>
                        <y>1806.650439227798</y>
                    </position>
                    <versionedComponentId>d3000931-db08-387d-9769-ec46019254dc</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/smartPlug</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Flat Store to Hadoop as ORC Hive Table</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>dc1ba3d3-1089-33cc-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1380.3104629516602</x>
                        <y>1999.8065032958984</y>
                    </position>
                    <versionedComponentId>dc1ba3d3-1089-33cc-8270-d379bc494427</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>id,state,appId,driverLogUrl,sparkUiUrl</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>e8e814a3-c798-382c-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1381.7504653930664</x>
                        <y>1224.0</y>
                    </position>
                    <versionedComponentId>e8e814a3-c798-382c-9e8b-49849dad2046</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>URL</key>
<value>
    <name>URL</name>
</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>
    <name>Filename</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>User Agent</key>
<value>
    <name>User Agent</name>
</value>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
<value>
    <name>Accept Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>
    <name>redirect-cookie-policy</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>60 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>URL</key>
<value>http://princeton0.field.hortonworks.com:8999/sessions/</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>batchstatus${now():toNumber()}.json</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>User Agent</key>
<value>NIFI-STATUS</value>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>true</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>standard</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>60 sec</yieldDuration>
                    </config>
                    <name>GetHTTP - Get Livy Batch Status</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetHTTP</type>
                </processors>
                <processors>
                    <id>f8e8a478-2116-377a-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>507.0000867192266</x>
                        <y>1303.0</y>
                    </position>
                    <versionedComponentId>f8e8a478-2116-377a-a7c6-4dfee197681e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/smartPlugRaw</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>06018cb7-ab81-355d-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>502.0000867192266</x>
                        <y>1063.9999835832377</y>
                    </position>
                    <versionedComponentId>06018cb7-ab81-355d-8bae-4ab1e6a8ab41</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>0d873055-e693-32f2-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-332.77084759864647</x>
                        <y>1208.4392682792095</y>
                    </position>
                    <versionedComponentId>0d873055-e693-32f2-942a-f02c16256d3f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>content-type</key>
<value>
    <name>content-type</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                            <entry>
<key>schema</key>
<value>
    <name>schema</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>content-type</key>
<value>application/avro-binary</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/avro-binary</value>
                            </entry>
                            <entry>
<key>schema</key>
<value>smartPlug</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>smartPlug</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Set Schema</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>0e7ff698-dd9e-3aa5-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-331.0220413208008</x>
                        <y>988.2652587890625</y>
                    </position>
                    <versionedComponentId>0e7ff698-dd9e-3aa5-a639-7ee3b4365876</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>ingestPoint</key>
<value>
    <name>ingestPoint</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>ingestPoint</key>
<value>house</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>1d8e9875-e40b-3707-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1381.7504653930664</x>
                        <y>1421.1179656982422</y>
                    </position>
                    <versionedComponentId>1d8e9875-e40b-3707-8b9a-ff1b425a0568</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>schema</key>
<value>
    <name>schema</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>schema</key>
<value>livystatus</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>livystatus</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>291d6bc7-fe8a-3684-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>777.743896484375</x>
                        <y>2470.9556732177734</y>
                    </position>
                    <versionedComponentId>291d6bc7-fe8a-3684-9360-570022e8763b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Do More Processing</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>2aeeeb8f-0b00-33dd-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>873.5806884765625</x>
                        <y>2638.8201751708984</y>
                    </position>
                    <versionedComponentId>2aeeeb8f-0b00-33dd-b71f-9dc009956db8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Do More Processing</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>36a50f92-f9b9-3bd3-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1908.5406818389893</x>
                        <y>2411.660140991211</y>
                    </position>
                    <versionedComponentId>36a50f92-f9b9-3bd3-b8d1-e3f7b4045453</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Do More Processing</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>5e4853d2-3109-36fd-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1380.3104629516602</x>
                        <y>1807.5503387451172</y>
                    </position>
                    <versionedComponentId>5e4853d2-3109-36fd-b9da-903b2d256634</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>appId</key>
<value>
    <name>appId</name>
</value>
                            </entry>
                            <entry>
<key>driverLogUrl</key>
<value>
    <name>driverLogUrl</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>sparkUiUrl</key>
<value>
    <name>sparkUiUrl</name>
</value>
                            </entry>
                            <entry>
<key>state</key>
<value>
    <name>state</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>appId</key>
<value>$.appId</value>
                            </entry>
                            <entry>
<key>driverLogUrl</key>
<value>$.appInfo.driverLogUrl</value>
                            </entry>
                            <entry>
<key>id</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>sparkUiUrl</key>
<value>$.appInfo.sparkUiUrl</value>
                            </entry>
                            <entry>
<key>state</key>
<value>$.state</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>62db4206-3d66-3510-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1410.8206787109375</x>
                        <y>2481.0601654052734</y>
                    </position>
                    <versionedComponentId>62db4206-3d66-3510-ab05-58a660f6125c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hive-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>orc-config-resources</key>
<value>
    <name>orc-config-resources</name>
</value>
                            </entry>
                            <entry>
<key>orc-stripe-size</key>
<value>
    <name>orc-stripe-size</name>
</value>
                            </entry>
                            <entry>
<key>orc-buffer-size</key>
<value>
    <name>orc-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>orc-compression-type</key>
<value>
    <name>orc-compression-type</name>
</value>
                            </entry>
                            <entry>
<key>orc-hive-table-name</key>
<value>
    <name>orc-hive-table-name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>orc-config-resources</key>
<value>/etc/hadoop/conf/core-site.xml</value>
                            </entry>
                            <entry>
<key>orc-stripe-size</key>
<value>64 MB</value>
                            </entry>
                            <entry>
<key>orc-buffer-size</key>
<value>10 KB</value>
                            </entry>
                            <entry>
<key>orc-compression-type</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>orc-hive-table-name</key>
<value>LivyStatus</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ConvertAvroToORC</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hive.ConvertAvroToORC</type>
                </processors>
                <processors>
                    <id>63453a9a-8edc-3a67-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-323.1708491245254</x>
                        <y>1604.4528183479101</y>
                    </position>
                    <versionedComponentId>63453a9a-8edc-3a67-acbd-8f1299f57270</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hive-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>orc-config-resources</key>
<value>
    <name>orc-config-resources</name>
</value>
                            </entry>
                            <entry>
<key>orc-stripe-size</key>
<value>
    <name>orc-stripe-size</name>
</value>
                            </entry>
                            <entry>
<key>orc-buffer-size</key>
<value>
    <name>orc-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>orc-compression-type</key>
<value>
    <name>orc-compression-type</name>
</value>
                            </entry>
                            <entry>
<key>orc-hive-table-name</key>
<value>
    <name>orc-hive-table-name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>orc-config-resources</key>
<value>/etc/hive/conf/hive-site.xml</value>
                            </entry>
                            <entry>
<key>orc-stripe-size</key>
<value>64 MB</value>
                            </entry>
                            <entry>
<key>orc-buffer-size</key>
<value>10 KB</value>
                            </entry>
                            <entry>
<key>orc-compression-type</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>orc-hive-table-name</key>
<value>smartPlug</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ConvertAvroToORC</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hive.ConvertAvroToORC</type>
                </processors>
                <processors>
                    <id>6985cc4b-e50c-3dd1-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>725.0</x>
                        <y>2290.932357788086</y>
                    </position>
                    <versionedComponentId>6985cc4b-e50c-3dd1-aa87-b11b6b723385</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Do More Processing</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>6a24bd05-aa80-363f-0000-000000000000</id>
                    <parentGroupId>943469c4-9193-3f3f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1114.8001001962657</x>
                        <y>672.7999713762065</y>
                    </position>
                    <versionedComponentId>6a24bd05-aa80-363f-bfb9-4099cc992958</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>print "hello nifi livy spark"</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>360 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Testing</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
            </contents>
            <name>Spark It Up</name>
            <variables/>
            <versionControlInformation>
                <bucketId>3d744b08-7a86-4a51-8d1b-45d976399932</bucketId>
                <bucketName>development</bucketName>
                <flowDescription></flowDescription>
                <flowId>a72bdb7f-05be-4f3a-bf0a-f637fb3a1e3d</flowId>
                <flowName>Spark It Up</flowName>
                <registryId>6bd4d2e3-0161-1000-0000-00002481e1f7</registryId>
                <registryName>nifireg</registryName>
                <state>UP_TO_DATE</state>
                <stateExplanation>Flow version is current</stateExplanation>
                <version>5</version>
            </versionControlInformation>
        </processGroups>
    </snippet>
    <timestamp>02/09/2018 19:48:21 UTC</timestamp>
</template>
